.form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 768px;
}

.input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
<<<<<<< HEAD
  border-radius: 20px 0 0 20px;
=======
  border: none;
>>>>>>> cdc92af65baf18e2611f55b5d375bcca457ad370
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}
